* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
}

header {
  display: flex;
  width: 80%;
  margin: auto;
  align-items: center;
  padding: 30px 30px;
  height: 10vh;
}

.logo {
  flex: 1;
  font-weight: 700;
  font-size: 1.5em;
  text-transform: uppercase;
}

nav {
  flex: 2;
}

.logo,
.nav-links {
  display: flex;
}

.nav-links {
  justify-content: flex-end;
  text-decoration: none;
  list-style: none;
}

.nav-link {
  text-decoration: none;
  margin-right: 10em;
  color: black;
  font-size: 20px;
}

.cart {
  margin-right: 0;
  margin-left: 3em;
  color: black;
  font-size: 20px;
}

.page {
  min-height: 90vh;
  display: grid;
  grid-template-columns: 10% 1fr 1fr 10%;
}

.details {
  grid-column: 2/3;
  align-self: center;
  justify-self: center;
}

.details h1 {
  font-size: 54px;
  text-transform: uppercase;
}
.details h2 {
  font-size: 32px;
  padding: 20px 0px;
  text-transform: uppercase;
}

.hero {
  overflow: hidden;
  height: 500px;
  align-self: center;
  justify-self: center;
  display: flex;
}

.hero img {
  height: 500px;
  cursor: pointer;
}
