* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
}

header {
  display: flex;
  width: 80%;
  margin: auto;
  align-items: center;
  padding: 30px 30px;
  height: 10vh;
}

.logo {
  flex: 1;
  font-weight: 700;
  font-size: 1.5em;
  text-transform: uppercase;
}

nav {
  flex: 2;
}

.logo,
.nav-links {
  display: flex;
}

.nav-links {
  justify-content: flex-end;
  text-decoration: none;
  list-style: none;
}

.nav-link {
  text-decoration: none;
  margin-right: 10em;
  color: black;
  font-size: 20px;
}

.cart {
  margin-right: 0;
  margin-left: 3em;
  color: black;
  font-size: 20px;
}

ul {
  list-style: none;
}

.cart-mobile {
  /* margin-right: 0; */
  /* margin-left: 3em; */
  color: black;
  font-size: 20px;
  list-style: none;
  text-decoration: none;
  display: none;
  cursor: pointer;
}

.burger div {
  width: 25px;
  height: 3px;
  background-color: black;
  margin: 5px;
}

.burger {
  display: none;
  cursor: pointer;
}

/* End Nav */

.page {
  min-height: 90vh;
  display: grid;
  grid-template-columns: 10% 1fr 1fr 10%;
}

.details {
  grid-column: 2/3;
  align-self: center;
  justify-self: center;
}

.details h1 {
  font-size: 54px;
  text-transform: uppercase;
}
.details h2 {
  font-size: 32px;
  padding: 20px 0px;
  text-transform: uppercase;
}

.hero {
  overflow: hidden;
  height: 500px;
  align-self: center;
  justify-self: center;
  display: flex;
}

.hero img {
  height: 500px;
  cursor: pointer;
}

@media screen and (max-width: 600px) {
  html {
    overflow-x: hidden;
  }
  .top-nav {
    width: 100vw;
  }
  .logo {
    font-size: 1.2em;
    font-weight: bolder;
    flex: 3;
    justify-content: center;
  }
  .nav-links {
    display: none;
  }
  .burger {
    display: block;
    margin-right: 3em;
    flex: 1;
  }

  .cart-mobile {
    display: block;
    flex: 1;
    justify-content: flex-end;
  }

  .page {
    grid-template-columns: 5% 1fr 5%;
    align-items: center;
  }

  .details {
    grid-column: 2 / 3;
    margin-top: 3em;
    text-align: center;
  }

  .details h1 {
    font-size: 34px;
  }

  .details h2 {
    font-size: 20px;
  }

  .hero {
    grid-column: 2/3;
  }

  .hero img {
    width: 300px;
    height: 300px;
  }
}
